<?xml version="1.0" encoding="utf-8"?>
<!--

 Copyright 2018 Fundação CERTI

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the license for the specific language governing permissions and
 limitations under the license.

-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="br.org.certi.flashtooltest">

  <uses-feature android:name="android.hardware.usb.host" />
  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity
      android:name=".MainActivity"
      android:launchMode="singleTask" >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>

      <intent-filter>
        <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"/>
      </intent-filter>

      <meta-data
        android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
        android:resource="@xml/device_filter"/>

      <intent-filter>
        <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED"/>
      </intent-filter>
      <meta-data
        android:name="android.hardware.usb.action.USB_DEVICE_DETACHED"
        android:resource="@xml/device_filter"/>
    </activity>

    <activity
      android:name=".TestsActivity"
      android:launchMode="singleTask" >
    </activity>
  </application>

</manifest>